{% load static %}

<!DOCTYPE html>

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
</head>

<body>

    <div class="row">
        <div class="sidebar col-lg-2 col-md-3">
        <center>
            <a href="{% url 'index' %}"><img src="{% static 'encyclopedia/images/image.png' %}" alt="wikipedia-logo"></a>
            <a href="{% url 'index' %}"><h3>Wiki</h3></a>
            
            <form action="{% url 'search' %}" method="GET">
                
                <div class="input-group mb-3">
                
                    <input type="text" name="q" class="form-control search" placeholder="Search" aria-label="Search Encyclopedia" aria-describedby="basic-addon2">
                
                    <div class="input-group-append">
                
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                
                    </div>
                
                </div>

            </form>
            <div class="boxe">
                <div>
                    <a href="{% url 'index' %}">Home</a>
                </div>
                <div >
                    <a href="{% url 'newentry' %}">Create New Page</a>
                </div>
                <div >
                    <a href="{% url 'random' %}">Random Page</a>
                </div>    
            </div>
        </center>
            {% block nav %}
            {% endblock %}
        </div>
        <div class="main col-lg-10 col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>